@import "tailwindcss";
@import "react-image-gallery/styles/css/image-gallery.css";

@theme {
  --color-brand-orange: #ea580c;
  --color-brand-brown: #432818;
  --color-brand-cream: #fffaf7;
}

:root {
  background-color: white;
  color: var(--color-brand-brown);
}

body {
  @apply antialiased;
}