@import "tailwindcss";

@theme {
  /* Definimos los colores personalizados para usarlos como clases de Tailwind */
  --color-brand-orange: #ea580c;
  --color-brand-brown: #432818;
  --color-brand-cream: #fffaf7;
}

:root {
  background-color: white;
  color: var(--color-brand-brown);
}

body {
  @apply antialiased;
}